<main>

  <section *ngIf="listComics" class="container-page">
    <app-custom-button textButton="Go Back" buttonClass="button-form" appGoBack />
    <h2>Comics list</h2>

    <app-principal-card *ngFor="let item of listComics"
      [titlePrincipal]="item.title"
      [imageCard]="item.thumbnail" 
      [dateInformation]="item.modified"
      textButton="View details"
      (buttonClicked)="goToDetails(item.id)"
    />

    <div *ngIf="listComics.length === 0">
      <p>For now there is no list of comics from the selected series.</p>
    </div>
  </section>

</main>