// COLOURS
$purple-primary: #571845;
$vine-dark: #900C3E;
$vine-light: #C70039;
$orange-light: #FF5733;
$contrast-color: #FFC300;
$red-color: red;

// TEXT:
$text-white: whitesmoke;

// GRADIENT
$gradient-primary: linear-gradient(45deg, $purple-primary 20%, $vine-light 79%);
$gradient-secondary: linear-gradient(45deg, $vine-light 30%, $orange-light 71%);
