<section class="section-series">
  <div class="container-list" appCardStyle>
    <img [src]="imageCard" [alt]="titlePrincipal" />
    <div>
      <h3>Title: {{ titlePrincipal }}</h3>
      <p>{{ firstInformation }}</p>
      <p>{{ secondInformation }}</p>
      <p>{{ dateInformation | date }}</p>
      
      <app-custom-button *ngIf="viewButton"
        [textButton]="textButton"
        buttonClass="button-form"
        (click)="onButtonClick()"
      ></app-custom-button>
    </div>
  </div>
</section>

<!-- <section class="section-series">
  <div class="container-list" appCardStyle>
    <img [src]="imageCard" [alt]="titlePrincipal" />
    
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title" [value]="titlePrincipal" readonly>
      
      <label for="firstInfo">First Information:</label>
      <input type="text" id="firstInfo" formControlName="firstInfo" [value]="firstInformation" readonly>
      
      <label for="secondInfo">Second Information:</label>
      <input type="text" id="secondInfo" formControlName="secondInfo" [value]="secondInformation" readonly>
      
      <label for="date">Date:</label>
      <input type="text" id="date" formControlName="date" [value]="dateInformation | date" readonly>
      
      <app-custom-button *ngIf="viewButton"
        [textButton]="textButton"
        buttonClass="button-form"
        (click)="onButtonClick()"
      ></app-custom-button>
    </div>
  </div>
</section> -->
