@import '../../../../styles/styles.scss';

.section-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 77vh;

  form {
    width: 20rem;
    height: 80%;
    border: 1px solid $contrast-color;

    fieldset {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      input {
        padding-left: 10px;
        color: $red-color;
        width: 80%;
      }

      .error {
        color: $red-color;
      }
    }
  }

}