<main>
  <section class="section-form">
    <form [formGroup]="dataForm" appCardStyle (ngSubmit)="onSubmit()">
      <fieldset>
        <h2>Login</h2>

        <label for="private_key">PRIVATE KEY:</label>
        <input type="text" formControlName="private_key" />

        <label for="public_key">PUBLIC KEY:</label>
        <input type="text" formControlName="public_key" />

        <app-custom-button 
        type="submit" 
        buttonClass="button-form" 
        textButton="Enviar" 
        [disabled]="!dataForm.valid"
        />

      </fieldset>
    </form>
  </section>

  <h2>private: 382a373592057ede5a500c4d1781a4bf2134b617</h2>
  <h2>public: af300b39e9a3f5f4bb790cd809a3c053</h2>
</main>
